{% extends "layouts/default.html" %}
{% block title %}Welcome to Caveman2{% endblock %}
{% block content %}
<div id="main">
  <h2 class="align-center" data-text="Hello, World!">Hello, World!</h2>
  <ul class="without-list-style align-center">
    <li><a class="underline" href="/posts">POSTS</a></li>
    <li><a class="underline" href="/categories">CATEGORIES</a></li>
    <li><a class="underline" href="/tags">TAGS</a></li>
    <li><a class="underline" href="/about">ABOUT</a></li>
  </ul>
</div>
{% endblock %}
